/* Michael Bain
 Visual Frameworks
 1302
 project 2
 css file
*/


h1 {
    font: solid white;
    border-color: #ff0233 50px;
    background-color: #ff9686;
    width: 1000;
    height: 40px;
    padding-left: 60px
    
    
}

form{
     background: #ff7575;
    
    
    
    
    
}
body{
     background: #dadcd9;
    
    
}

li{
   font-family: Helvetica, sans-serif; 
}